##
## qHttpd Setting
##

qhttpd.BaseDir			= /usr/local/qhttpd
qhttpd.BinDir			= ${qhttpd.BaseDir}/bin
qhttpd.SbinDir			= ${qhttpd.BaseDir}/sbin
qhttpd.RunDir			= ${qhttpd.BaseDir}/run
qhttpd.LogDir			= ${qhttpd.BaseDir}/logs
qhttpd.ConfDir			= ${qhttpd.BaseDir}/conf
qhttpd.DataDir			= ${qhttpd.BaseDir}/htdocs
qhttpd.TmpDir			= /tmp

## the mimetype file
qhttpd.MimeFile			= ${qhttpd.ConfDir}/mimetypes.conf

## the pid file which is recorded by egisdavd when it starts
qhttpd.PidFile			= ${qhttpd.RunDir}/qhttpd.pid

## listening port
qhttpd.Port			= 8080

## number of connection queuing
qhttpd.MaxPending		= 5

## number of server processes to start
qhttpd.StartServers		= 5

## minimum number of server processes which are kept spare
qhttpd.MinSpareServers		= 3

## maximum number of server processes which are kept spare
qhttpd.MaxSpareServers		= 5

## maximum number of idle seconds
qhttpd.MaxIdleSeconds		= 300

## maximum number of server processes allowed to start
qhttpd.MaxClients		= 50

## maximum number of requests a server process serves
qhttpd.MaxRequestsPerChild	= 3000

## number of seconds to wait for the next request
qhttpd.KeepAliveEnable		= YES

## number of seconds before receives and sends time out.
qhttpd.ConnectionTimeout	= 5

##
## TTL Control
##

## number of seconds of contents expiration
qhttpd.ResponseExpires		= 300

##
## Lua Script Engine
##
qhttpd.EnableLua		= NO
qhttpd.LuaScript		= ${qhttpd.ConfDir}/qhttpd.lua

##
## Log Setting
##

## error log format
qhttpd.ErrorLog			= qhttpd-%Y%m%d.err

## access log format
qhttpd.AccessLog		= qhttpd-%Y%m%d.log

## number of seconds to rotate log
qhttpd.LogRotate		= 86400

## log level, 0:SYSTEM, 1:ERROR, 2:WARNING, 3:INFO, 4:DEBUG
qhttpd.LogLevel		= 2

##
## Server Status Setting
##
qhttpd.StatusEnable		= YES
qhttpd.StatusUrl		= /qhttpd/server-status
